@import "../variables.scss";

.about { 
  display: block;
  margin: 120px 0; 

  .right {
    margin-top: 80px;
    @include text;
    line-height: 21px;

    a {
      color: $yellow;
      text-decoration: none;
      transition: 0.3s;
    }
    
    a:hover {
      color: $black;
    }
  }
  .left {
    .image {
      max-width: 300px;
      animation: fade-up  1.0s;
    }
    margin-right: 50px;
  }
  .Link {
    color: $black;
    text-decoration: underline;
    margin-right: 3.2px;
}

  .Link:hover {
    color: $yellow;
  }
   
  .header {
    @include textoutline;
  }

}