@import "../variables.scss";

.about { 
  display: block;
  margin: 120px 0; 

  .right {
    margin-top: 80px;
    @include text;
    line-height: 21px;
  }
  .left {
    .image {
      max-width: 300px;
      animation: fade-up  1.0s;
    }
    margin-right: 50px;
  }
  .Link {
    color: $black;
    text-decoration: underline;
    margin-right: 3.2px;
}

  .Link:hover {
    color: $yellow;
  }
   
  .header {
    font-size: 28px;
    margin-bottom: 50px;
    margin-top: 0;
    font-weight: 600;
    color: $yellow;
    letter-spacing: 1.2px;
  }

}