@import "../variables.scss";

.Illustrations {
  margin-top: 25px;
  animation:  fade-in 1.0s;
  padding-bottom: 100px;
  width: 400px;
  max-width: 100%;
  text-align: center; 
  font-size: 13px;
  margin: 0 auto;
  padding-top: 130px;

  .image {
    margin: 60px auto;
    animation:  fade-in 1.0s;
    width: 400px;
    max-width: calc(100%-20px);
  }
  
  .spin {
    animation: image-spin infinite 20s linear;
  }
  
  @keyframes image-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
    
  @media only screen and (max-width: 767px) {
    .image {
      max-width: 100%;
      height: auto;
    }
  }
  
  .title {
    @include title;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0;
    letter-spacing: 0.8px;
    color: $yellow;
  }
}
