@import "../variables.scss";

.Main {
    margin-top: 145px;
    text-align: left;

    .intro {
        display: flex;
        flex-direction: row;
    }

    .left {
        width: 100%;
        margin-top: 50px;
        animation: fade-up  1.0s;
    }

    .name {
        display: inline-block;
        margin: 30px 10px 30px 0;
        font-weight: 900;
        letter-spacing: 1.2px;
        margin-bottom: 0px;
    }

    .words {
        margin-top: 38px;
        margin-bottom: 40px;
        left: 0;
        font-size: 14px;
    }

    .words2 {
        margin-top: 30px;
        margin-bottom: 40px;
        left: 0;
        font-size: 14px;
    }

    .underlined-button {
        color: $yellow;
        text-decoration: none;
        font-family: 'Karla';
        font-size: 13px;
        transition: 0.3s filter;
        position: relative;
        margin-bottom: 50px;
    }

    .underlined-button:hover {
        filter: brightness(105%);
    }

    .underlined-button:after {
        content: "";
        position: absolute;
        height: 2px;
        left: 0;
        bottom: -5px;
        background: $yellow;
        width: 15px;
        border-radius: 10%;
        transition: 0.3s width;
    }

    .underlined-button:hover:after {
        width: 100%;
    }

    .portrait {
        height: 100%;
        margin-left: 20px;
        width: 50%;
        animation: fade-in 1.0s;
    }

    .projects {
        margin-top: 0px;
        margin-bottom: 200px;
    }

    .heading {
       @include title;
       color: $yellow;
    }

    .projectCard {
        margin: 70px 0 90px 50px;
        padding: 0px 50px 0 50px;
        display: flex;
        max-width: 700px;
        height: 250px;
     
        background-color: #fdfdfd;

        .title {
            font-weight: 600;
            font-size: 22px;
            letter-spacing: 2px;
        }

        .text {
            margin: 20px 0;
        }

        .link {
            color: $yellow;
        }
    
        .link:hover {
            filter: brightness(90%);
        }

        .cardLeft {
            margin: auto;
            margin-left: 20px;
        }

        .cardRight {
            max-width: 175px;
            margin-left: 20px;
            margin-top: 15px;
            margin-right: 30px;

            img {
                width: 100%;
                height: auto;
            }    
        }
    }
    
    .credits {
       @include credits;
        text-decoration: none;
        color: $yellow;
    }

    .credits2 {
        @include credits;
        margin-left: 200px;
    }
}

@media only screen and (max-width: 767px) {
    .Main {
        margin-top: 80px;
        display: block;

        .portrait {
            margin-top: 40px;
            width: 100%;
        }

        .contact {
            display: none;
        }
    }
}