@import "../variables.scss";

.Main {
  margin-top: 145px;
  text-align: left;
  color: #black;

  .intro {
    display: flex;
    flex-direction: row;
    margin-top: 50px;

    @media only screen and (max-width: 600px) {
      display: block;
      text-align: center;
  }
}

.left {
  max-width: 100%;
  animation: fade-up  1.0s;
  text-align: left !important;
  margin-top: 60px;

  @media only screen and (max-width: 767px) {
    max-width: 80%;
  }
}

.name {
  display: inline-block;
  margin: 0 10px 35px 0;
  font-weight: 700;
  text-align: left;
  font-size: 120px;
  letter-spacing: 2.0px;
  font-family: 'Work Sans';
  top: -30px;
  max-width: 100%;
  @include textoutline;

  @media only screen and (max-width: 767px) {
    max-width: 80%;
    font-size: 80px;
  }
}
.topname {
  @include text;
  font-weight: 600;
  transition: 0.3s filter;
  margin: 0;
  margin-left: 5px;
  text-transform: uppercase;
  letter-spacing: 2.0px;
}


.underlined-button {
  color: $yellow;
  text-decoration: none;
  font-family: 'Karla';
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s filter;
  position: relative;
  margin-bottom: 50px;
}

.underlined-button:hover {
  filter: brightness(105%);
  cursor: pointer;
}

.underlined-button:hover::after {
  width: 100%;
}

.underlined-button:after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: -7px;
  background: $yellow;
  width: 15px;
  border-radius: 10%;
  transition: 0.3s width;
}

.nolink {
  text-decoration: none;
  color: inherit;
}

.portrait {
  margin-left: 50px;
  animation: fade-in 1.0s;
  max-width: 50%;

  @media only screen and (max-width: 600px) {
      margin: 0 auto;
      margin-top: 70px !important;
  }
}

.words {
  margin-top: 38px;
  margin-bottom: 40px;
  left: 0;
  font-size: 14px;
  text-align: left;
  line-height: 20px;
}

#words {
  margin-top: 38px;
  margin-bottom: 40px;
  left: 0;
  font-size: 20px;
  text-align: center;
  line-height: 28px;
}

#words a {
  color: $yellow;
  text-decoration: none;
  transition: 0.3s;
}

#words a:hover {
  color: $black;
}

.projects {
  margin-top: 0px;
  margin-bottom: 200px;
  position: relative;
}

.scrollanchor {
  position: absolute;
  top: -80px;
}

.heading {
  @include textoutline;
  text-align: center;
  font-size: 100px;
  margin-top: 100px;
}

.projectCard:hover {
  box-shadow: 0 10px 40px rgba(0,0,0,.1);

  -webkit-transform: translateY(-10px); 
  -moz-transform: translateY(-10px); 
  -ms-transform: translateY(-10px); 
  -o-transform: translateY(-10px); 
  transform: translateY(-10px); 
  
  .underlined-button:after {
      width: 100%;
  }
}

.projectCard {
  margin: 120px 0;
  padding: 0px 50px 0 50px;
  display: flex;
  height: 300px;

  box-shadow: 0 5px 30px rgba(0,0,0,.05);
  transition: 0.1s all;


  .title {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 2px;
    /* border-bottom: 2px solid #333; */
    display: inline;
  }

  .text {
    margin: 20px 0;
  }

  .link {
    color: $yellow;
  }

  .link:hover {
    filter: brightness(90%);
  }

  .cardLeft {
    margin: auto;
    margin-left: 20px;
    width: 60%;
  }

  .cardRight {
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 30%;
    

    img {
      height: auto;
      width: auto;
      max-height: 100%;
      margin: auto;
      margin-right: 0;
      max-width: 100%;
    }    
}

@media only screen and (max-width: 900px) {
  padding-right: 10px;
}

@media only screen and (max-width: 767px) {
  padding-right: 5px;

  .cardRight {
    margin-right: 20px;
  }

  img {
    max-width: 200px;
    height: auto;
    max-height: 100%;
  }
}

@media only screen and (max-width: 550px) {
  display: block;
  padding: 25px 5px 0 5px;
  height: 100%;

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px !important;
  }

  .cardRight {
    text-align: center;
    margin: auto;
  }

  .cardLeft {
    margin: 0 10px 0 25px;
    width: 80%;
  }

  .cardRight {
    margin-top: 50px;
    padding: 0;
  }

  .words {
      width: 100%;  
  }
}
}

@media only screen and (max-width: 767px) {
  .Main {
    margin-top: 80px;
    display: block;

    .portrait {
        margin-top: 40px;
        width: 100%;
    }

    .contact {
        display: none;
    }
  }
}
}