@import "../variables.scss";

.Navbar {
  background-color: $white;
  .logo {
    position: absolute;
    top: 30px;
    left: 45px;
    width: 125px;
    height: auto;
  }
  
  .logo:hover {
    filter: brightness(95%);
    
  }
  
  .navlinks {
    position: absolute;
    top: 30px;
    right: 45px;

    @media only screen and (max-width: 720px) {
      display: none;
    }
  }
  
  .menuLink {
    display: block;
    margin-bottom: 40px;
  }

  .navlink {
    cursor: pointer;
    font-size: 12px;
    margin-left: 40px;
    margin-right: 20px;
    text-decoration: none;
    color: $black;
    font-family: 'Karla';
    transition: 0.1s color;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .navlink:hover {
    color: $yellow;
  }
  
  .selected {
    color: $yellow;
  }

  .bm-burger-button {
    display: none;

    @media only screen and (max-width: 720px) {
      display: block;
      position: relative;
    }
  }

  @media only screen and (max-width: 720px) {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 100;
    box-shadow: 0 0 10px 3px rgba(236, 236, 236, 0.2);

    .logo {
      position: absolute;
      top: 20px;
      left: 20px;
    }
  }
  
  @media only screen and (max-width: 424px) {
    .logo {
      left: 30px;
    }
  }
}