@import "./variables.scss";

.App {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 20px 10%;
  max-width: 1100px;
  margin: auto;
  animation: fade-in 1.0s;
}

.credits {
  text-align: left;
  font-size: 14px;
  margin-bottom: 50px;
}

.creditLink {
  text-decoration: none;
  color: $yellow;
  margin-right: 10px;
}

.menu {
  display: none;

  @media only screen and (max-width: 720px) {
    display: block;
  }
}
