.App {
  text-align: center;
  padding: 20px 10%;
  position: relative;
  height: 100%;
  max-width: 1000px;
  margin: auto;
  animation: fade-in 1.0s;
}

.logo {
  position: absolute;
  top: 30px;
  left: 45px;
  width: 125px;
  height: auto;
}

.logo:hover {
  filter: brightness(105%);
}

.navlinks {
  position: absolute;
  top: 30px;
  right: 45px;
}

.navlink {
  font-size: 0.7rem;
  margin-left: 40px;
  text-decoration: none;
  color: #000000;
  font-family: 'Playfair Display';
  transition: 0.1s color;
}

.navlink:hover {
  color: #FCD962;
}

.selected {
  color: #FCD962;
}

@media only screen and (max-width: 424px) {
  .logo {
    left: 30px;
  }

  .navlinks {
    right: 30px;
  }

  .navlink {
    margin-left: 30px;
  }
}