@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Work+Sans:400,500');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Playfair Display', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 4.0rem;
  margin: 0;
}

#root {
  height: 100%;
}

@media only screen and (max-width: 767px) {
  body, html {
    font-size: 15px;
  }

  h1 {
    font-size: 3.2rem;
  }
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: inherit }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: inherit;
    transform: none;
  }
}