$mappColor: #43C6AC;
$darkgray: #4b4b4b;
$gray: #707070;
$lightgray: rgb(204, 204, 204);
$middlegray: #909090;
$yellow: #FFC90C;
$black: #2c2e30;
$white: #ffffff;
$green: #2F7736;
$indigo: #2B009E;

@mixin subtitle {
    font-size: 14px;
    letter-spacing: 1.4px;
}

@mixin body {
    line-height: 1.75;
    font-size: 14px;
}

@mixin question {
    font-size: 14px;
    text-align: left;
    font-weight: 600;
    color: $black;
    border-left: 4px solid $black;
    padding-left: 20px;
}

@mixin heading {
    font-size: 25px;
    text-align: left;
    color: $mappColor;
    font-weight: 600;
}

@mixin section {
    margin: 40px auto;
}

@mixin number {
    text-align: center;
    display: inline-block;
    padding: 0px;
    border-radius: 8px;
    background: $mappColor;
    color: $white;
    font-weight: 600;
    margin: 0 12px auto 30px;
    font-style: normal;
    width: 20px;
    height: 20px;
    min-width: 20px;
}


@mixin title {
    padding-top: 0px;
    letter-spacing: 2px;
    font-size: 28px;
    margin-top: 80px;
}

@mixin text {
    font-size: 14px;
    text-align: left;
    font-family: "Karla";
    line-height: 21px;
}

@mixin uppergraytext {
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    color: $middlegray;
    letter-spacing: 2px;
    font-weight: 400;
}